In [35]:
import pandas as pd

titanic_df = pd.read_csv('train.csv')

In [36]:
titanic_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [37]:
titanic_df_subset = titanic_df[['Age', 'Sex', 'Survived']]
titanic_df_subset.head()

    Age     Sex  Survived
0  22.0    male         0
1  38.0  female         1
2  26.0  female         1
3  35.0  female         1
4  35.0    male         0

In [38]:
subset_age_filter = titanic_df_subset[titanic_df_subset['Age'] >= 60]

numOfRows_1  = subset_age_filter.shape[0] 
print('大於60歲的男女人數 :', numOfRows_1)

numOfRows_2 = subset_age_filter[subset_age_filter.Survived == 1].shape[0]
print('大於60歲的男女存活人數 :', numOfRows_2)

大於60歲的男女人數 : 26
大於60歲的男女存活人數 : 7