#Demo4-2 Python標準函數庫

In [0]:
#re — Regular expression operations
import re
m = re.search('(?<=abc)def', 'abcdef')
m.group(0)

In [0]:
m = re.search(r'(?<=-)\w+', 'spam-egg')
m.group(0)

In [0]:
#random --- 生成亂數
import random as rd 
a=rd.random()                             # Random float:  0.0 <= x < 1.0
b=rd.uniform(2.5, 10.0)                   # Random float:  2.5 <= x < 10.0
c=rd.randrange(10)                        # Integer from 0 to 9 inclusive
d=rd.choice(['win', 'lose', 'draw'])      # Single random element from a sequence
print(a,b,c,d)

In [0]:
#sqlite3
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
c.execute("INSERT INTO stocks VALUES ('2006-04-05','BUY','MSFT',1000, 72.00)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [0]:
conn = sqlite3.connect('example.db')
c = conn.cursor()
for row in c.execute('SELECT * FROM stocks ORDER BY price'):
    print(row)
conn.close()

In [0]:
from urllib import request
with request.urlopen('http://www.asia.edu.tw/news1.php') as response:
    html = response.read().decode('utf-8')
    print(html)