# Demo2-3 列印99乘法表

In [2]:
#宣告序列變數，表示1-9的數字
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for n in numbers:
  print(n, end=' ')

1 2 3 4 5 6 7 8 9

In [5]:
#第一個99乘法表
#印行的標頭
print("   ", end=' ')# 印空白的第一格
for n in numbers:
  print(n, end=' ')
print() #換行
for r in numbers:
  print(r, end=' ')# 印列的標頭
  for m in numbers:
    print(r*m, end=' ')# 印列的標頭
  print() #換行

    1 2 3 4 5 6 7 8 9
1 1 2 3 4 5 6 7 8 9
2 2 4 6 8 10 12 14 16 18
3 3 6 9 12 15 18 21 24 27
4 4 8 12 16 20 24 28 32 36
5 5 10 15 20 25 30 35 40 45
6 6 12 18 24 30 36 42 48 54
7 7 14 21 28 35 42 49 56 63
8 8 16 24 32 40 48 56 64 72
9 9 18 27 36 45 54 63 72 81

In [0]:
#第2個99乘法表
#印行的標頭
print("   ", end=' ')# 印空白的第一格
for n in numbers:
  print(n, end=' ')
print() #換行
for r in numbers:
  print(r, end=' ')# 印列的標頭
  for m in numbers:
    print(r*m, end=' ')# 印列的標頭
  print() #換行

In [8]:
r1=range(1,10)
r2=range(10)
r3=range(1,10, 3)
print(list(r1))
print(list(r2))
print(list(r3))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 7]

In [12]:
for r in range(1,10):
  for m in range(2,6):
    print("{0:1d}x{1:1d}={2:2d}".format(m, r, m*r), end=" ")
  print()
print()
for r in range(1,10):
  for m in range(6,10):
    print("{0:1d}x{1:1d}={2:2d}".format(m, r, m*r), end=" ")
  print()

2x1= 2 3x1= 3 4x1= 4 5x1= 5
2x2= 4 3x2= 6 4x2= 8 5x2=10
2x3= 6 3x3= 9 4x3=12 5x3=15
2x4= 8 3x4=12 4x4=16 5x4=20
2x5=10 3x5=15 4x5=20 5x5=25
2x6=12 3x6=18 4x6=24 5x6=30
2x7=14 3x7=21 4x7=28 5x7=35
2x8=16 3x8=24 4x8=32 5x8=40
2x9=18 3x9=27 4x9=36 5x9=45

6x1= 6 7x1= 7 8x1= 8 9x1= 9
6x2=12 7x2=14 8x2=16 9x2=18
6x3=18 7x3=21 8x3=24 9x3=27
6x4=24 7x4=28 8x4=32 9x4=36
6x5=30 7x5=35 8x5=40 9x5=45
6x6=36 7x6=42 8x6=48 9x6=54
6x7=42 7x7=49 8x7=56 9x7=63
6x8=48 7x8=56 8x8=64 9x8=72
6x9=54 7x9=63 8x9=72 9x9=81