In [0]:
#收集學校新聞的大數據
import re
from urllib import request
count = 0
sss = ["2008", "2009","2010", "2011", "2012","2013","2014","2015","2016","2017","2018"]
titles=list()
for i in range(len(sss)):
    year = sss[i]
    with request.urlopen('http://www.asia.edu.tw/news1.php?y='+year) as response:
        html = response.read().decode('utf-8')
        #print(html)
        pattern = '<font color="#446666" face="新細明體" style="font-weight: 700;" size="2">'
        for pos in re.finditer(pattern, html):
            pos2 = html.find('</font>', pos.end())
            sub = html[pos.end():pos2]
            titles.append(sub)
            count = count + 1
print (count)

In [0]:
!rm news.db

In [0]:
#建立新聞標題的資料庫
import sqlite3
conn = sqlite3.connect('news.db')
c = conn.cursor()

# Create table
c.execute("CREATE TABLE news (title text)")

# Insert a row of data
for t in titles:
  ss = "INSERT INTO news VALUES ('{}')".format(t)
  c.execute(ss)

# Save (commit) the changes
conn.commit()
conn.close()

In [0]:
#查詢學校新聞標題有人工智慧
conn = sqlite3.connect('news.db')
c = conn.cursor()
for row in c.execute('''SELECT * FROM news 
                        WHERE title LIKE '%人工智慧%' '''):
    print(row)
conn.close()