In [1]:
print('Hello world')

Hello world

In [2]:
print("Hello", "World")

Hello World

In [3]:
print("Hello","World", sep="+")

Hello+World

In [4]:
print("Hello");print("World")

Hello
World

In [5]:
print("Hello", end='->');print("World")

Hello->World

# Ex1 Print

In [6]:
varA = 66 #宣告一個整數變數
varB = 1.68 #宣告一個有小數的變數(電腦叫浮點數)
varC = 'GoPython' #宣告一個字串變數
print(type(varA), type(varB), type(varC), sep='...')

<class 'int'>...<class 'float'>...<class 'str'>

In [0]:
varD = str(varA) #將整數88轉成字串的88
varE = str(varB) #將浮點數1.68轉成字串的1.68
varF = int('2019') #將字串2019轉作整數數值的2019
varG = float('3.14') #將字串3.14轉作浮點數數值的3.14
print(varD, varE, varF,varG, sep=',')

In [7]:
print("Art: {0:5d}, Price per Unit: {1:8.2f}".format(435, 59.058))

Art:   435, Price per Unit:    59.06

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
for n in numbers:
  print(n, end=' ')

1 2 3 4 5 6 7 8 9

In [14]:
for n in numbers:
  print(n, end=' ')
  for m in numbers:
    print("{0:2d}".format(m*n), end=' ')
  print()

1  1  2  3  4  5  6  7  8  9
2  2  4  6  8 10 12 14 16 18
3  3  6  9 12 15 18 21 24 27
4  4  8 12 16 20 24 28 32 36
5  5 10 15 20 25 30 35 40 45
6  6 12 18 24 30 36 42 48 54
7  7 14 21 28 35 42 49 56 63
8  8 16 24 32 40 48 56 64 72
9  9 18 27 36 45 54 63 72 81

In [15]:
for n in  range(1, 10):
  print(n, end=' ')
  for m in  range(1, 10):
    print("{0:2d}".format(m*n), end=' ')
  print()

1  1  2  3  4  5  6  7  8  9
2  2  4  6  8 10 12 14 16 18
3  3  6  9 12 15 18 21 24 27
4  4  8 12 16 20 24 28 32 36
5  5 10 15 20 25 30 35 40 45
6  6 12 18 24 30 36 42 48 54
7  7 14 21 28 35 42 49 56 63
8  8 16 24 32 40 48 56 64 72
9  9 18 27 36 45 54 63 72 81

In [23]:
fin=open('score.txt')
count = 0
for line in fin:
  count +=1
  print(line.strip(), end=",")
print()
print("Numbers=", count)

85,15,80,80,77,76,47,48,50,50,88,90,75,67,79,76,92,90,90,48,15,95,95,85,90,88,86,87,91,82,82,86,89,88,77,69,83,85,82,81,94,72,83,75,87,79,85,84,82,87,86,86,88,83,85,87,84,87,37,90,80,82,83,87,80,68,81,91,84,15,82,87,
Numbers= 72

In [24]:
fin=open('score.txt')
count = 0
for line in fin:
  score = int(line)
  if score >60:
    count +=1
print("Pass Numbers=", count)

Pass Numbers= 63

In [29]:
count = 0
scores=list()
with open('score.txt') as fin:
  for line in fin:
    score = int(line)
    if score >60:
      count +=1
      scores.append(score)
scores.sort(reverse = True)
with open('sorted.txt','w')  as fout:
  for s in scores:
    fout.write(str(s))
    fout.write("\n")
print("Pass Numbers=", count)

Pass Numbers= 63